* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #0075ff, orangered);
}

.container .to-do-list {
    width: 520px;
    max-width: 520px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

@media(max-width:575px) {
    .container .to-do-list {
        padding: 10px;
    }
}

.container .to-do-list h2 {
    text-align: center;
    font-size: 30px;
    margin: 10px 0 20px;
    color: orangered;
}

.container .to-do-list .add {
    height: 40px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.container .to-do-list input[type="text"] {
    border: 1px solid #ccc;
    border-right-color: transparent;
    outline: none;
    background-color: transparent;
    padding-left: 40px;
    flex-basis: 80%;
    background-color: #eee;
    border-radius: 16px 0 0 16px;
}

.container .to-do-list input[type="button"] {
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: orangered;
    margin-left: auto;
    flex-basis: 20%;
    font-size: 20px;
    border-radius: 0 16px 16px 0;
    -webkit-border-radius: 0 16px 16px 0;
    -moz-border-radius: 0 16px 16px 0;
    -ms-border-radius: 0 16px 16px 0;
    -o-border-radius: 0 16px 16px 0;
}

@media(max-width:575px) {
    .container .to-do-list .add {
        flex-direction: column;
        height: 60px;
    }

    .container .to-do-list input[type="text"] {
        border-right-color: #ccc;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        padding: 0 40px;
    }

    .container .to-do-list input[type="text"]::placeholder {
        text-align: center;
    }

    .container .to-do-list input[type="button"] {
        margin: 10px auto 0;
        width: 40%;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

.task:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.task input {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.task label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task label::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #888;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.task label::after {
    content: "";
    background-color: #0075ff;
    position: absolute;
    left: 3px;
    top: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transform: translateY(-50%) scale(0) rotate(360deg);
    -webkit-transform: translateY(-50%) scale(0) rotate(360deg);
    -moz-transform: translateY(-50%) scale(0) rotate(360deg);
    -ms-transform: translateY(-50%) scale(0) rotate(360deg);
    -o-transform: translateY(-50%) scale(0) rotate(360deg);
}

.task input[type="checkbox"]:checked + label {
    opacity: 0.3;
    text-decoration: line-through;
}

.task input[type="checkbox"]:checked + label::before {
    border-color: #0075ff;
}

.task input[type="checkbox"]:checked + label::after {
    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
}

.task .icon-control > * {
    width: 25px;
    margin: 10px 8px;
    cursor: pointer;
    opacity: 0.7;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.task .icon-control > *:hover {
    opacity: 1;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.507));
}